-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get do
  Include:
  - MoviesController.all_ratings.keys.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, session[:ratings].keys.include?(rating)
  = submit_tag 'Refresh'
%table#movies
  %thead
    %tr
      %th{:class => (:hilite if session[:sortby] == 'title'), :id => 'title_header'}
        = link_to 'Movie Title', sortby_title_movies_path, method: :post
      %th{:class => (:hilite if session[:sortby] == 'rating'), :id => 'rating_header'}
        = link_to 'Rating', sortby_rating_movies_path, method: :post
      %th{:class => (:hilite if session[:sortby] == 'release_date'), :id => 'release_date_header'}
        = link_to 'Release Date', sortby_release_date_movies_path, method: :post
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
